{% extends "page.html" %}
{% block wrapper %}
<div class="row">
	<div class="small-10 small-centered large-6 large-centered columns">
		<h2>Login</h2>

		<form method="post" action="{{ request.path }}">
			<input type="hidden" name="next" value="{{ next }}"/>

			<div class="row">
				<div class="small-12 columns panel radius">
					<label for="email">Email</label>
					<input type="text" id="email" name="email" placeholder="Email"/>

					<label for="password">Password</label>
					<input type="password" id="password" name="password" placeholder="Password"/>

					<button type="submit" class="button secondary radius">Login</button>
				</div>
			</div>
		</form>

	</div>
</div>
{% endblock %}

{% block behavior %}
<script>
$(document).ready(function() {
	$('input#email').focus();
});
</script>
{% endblock %}
