<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>

		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width"/>

		<link href="/static/css/foundation.css" rel="stylesheet"/>
		<link href="/static/css/normalize.css" rel="stylesheet"/>
		<link href="/static/css/main.css" rel="stylesheet"/>
		<link href="/static/img/favicon.ico" rel="icon"/>

		<script src="/static/js/vendor/custom.modernizr.js"></script>
	</head>
	<body>
		<div class="sticky">
			<nav class="top-bar">
				<ul class="title-area">
					<li class="name">
						<h1><a class="brand" href="/">Keyring</a></h1>
					</li>
					<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
				</ul>
				<section class="top-bar-section">
					<ul class="left">
						<li class="divider"></li>
						<li><a href="/api">API Reference</a></li>
						<li class="divider"></li>
						<li><a href="/session">Session</a></li>
						<li class="divider"></li>
						<li><a href="/lipsum">Lorem Ipsum</a></li>
					</ul>

					<ul class="right">
						{% for link in g.account_links %}
						<li class="divider"></li>
						<li><a href="{{ link.href }}">{{ link.title }}</a>
						{% endfor %}
					</ul>
				</section>
			</nav>
		</div>

		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<div class="row">
			<div class="small-8 small-centered columns">
			{% for message in messages %}
				<div data-alert class="alert-box secondary">
					{{ message }}
					<a href="#" class="close">&times;</a>
				</div>
			{% endfor %}
			</div>
		</div>
		{% endif %}
		{% endwith %}

		{% block wrapper %}
		<div class="row">
			<div class="small-12 columns">
				{% block content %}
				{{ content }}
				{% endblock %}
			</div>
		</div>
		{% endblock %}

		<script src="/static/js/vendor/jquery.js"></script>
		<script src="/static/js/foundation.min.js"></script>
		<script>$(document).foundation();</script>

		{% block behavior %}{% endblock %}
	</body>
</html>
